 html, body {
  height: 100%;
    margin: 0;
}
    
body {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  overflow-x: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  transform: translateZ(0);
-webkit-transform: translateZ(0);
}

paper-tabs {
  font-weight: bold;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;

  paper-tab {
    cursor: pointer;
  }
}


[drawer] {
  background-color: #678cb7;
  border-right: 1px solid #ccc;

  ul {
    list-style:none;
    li {
      font-size: 1.3em;
      line-height: 2em;
      a {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
  .minigeek {
    color: #fff;
    font-family: holtwood-one-sc, serif !important;
    font-size: 2em;
    line-height: 2em;
    margin-left: 22px;
  }
}

[ng-view] {
  padding-left: 1em;
  padding-top: 2em;
}
core-toolbar {
  background-color: #5379a3;
  border-bottom: 1px solid #ccc;    
}

[main] {
  height: 100%;
}

button {
  display: none;
  width: 160px;
  height: 40px;
  font-size: 16px;
  margin: 8px;
}

core-drawer-panel[narrow] button {
  display: inline-block
}

@media only screen and (min-width: 641px) {  
  core-toolbar {
    display:none;
  }
  [ng-view] {
    padding-left: 15%;
  }
}

