:host {
	overflow-x: hidden;
  	display: block;
  	font-family: holtwood-one-sc, serif !important;
    margin-left: 22px;
	color:#333333;
}

h1 {
	font-size: 2em;
	margin-top: -5px;
	margin-bottom: 30px;
}

div {
	clear:both;
	color:#333333;
	font-size: 1.1em;	
}

img {
	margin-bottom: 20px;
	margin-top: -20px;
	float:left;
	width: 200px;
}

@media only screen and (min-width: 770px) {  
	h1 {
		font-size: 3.5em;
		margin-top: -5px;
	}
	img {
		padding-left: 35px;
		margin-top: -25px;
		width: 300px;
	}  
}

@media only screen and (min-width: 948px) {
	h1 { 
		font-size: 4em;
		padding-left: 48px;
	}
	img {
		width: 330px;
		padding-left: 95px;
	}
}
