<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="game-video" attributes="gameId">
  <link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
  <link rel="import" href="../../bower_components/web-loader/web-loader.html">
  <link rel="import" href="../../bower_components/twbs-grid/src/twbs-grid.html">
  <link rel="import" href="../../bower_components/paper-button/paper-button.html">
  <template>

    <link rel="stylesheet" href="game-video.css" />
    <content></content>

    <core-ajax
      id="ajax"
      url="http://mini-geek-service.appspot.com/videolist?id={{gameId}}"
      params='{"alt":"json"}'
      handleAs="json"
      on-core-response="{{handleResponse}}">
    </core-ajax>
    
    <bs-container>
      <bs-row> 
        <bs-col xs="12" sm="10" md="10" lg="10">
          <web-loader type="clock" display={{loaderVisible}}></web-loader>
        </bs-col>
      </bs-row>        
    </bs-container>
    
    <core-menu>
      <template repeat="{{ result }}">
        <paper-item id="{{link}}" on-click="{{onGameClicked}}">{{title}}</paper-item>
    <iframe width="280" height="210" src="{{link}}" frameborder="0" allowfullscreen></iframe>
      </template>
    </core-menu>
  
  </template>

  <script>

    Polymer('game-video', {
      
      result : [],
      loaderVisible : 'block',
      loaded : false,
      
      handleResponse: function (event) {
        this.loaderVisible = 'none';
        this.result = this.$.ajax.response.result.map(function(video) {
          video.link = video.link.replace(/watch\?v=/, 'embed/');
          return video; 
        });

      },

      load: function () {
        if (!this.loaded) {
          this.$.ajax.go();
          this.loaded = true;
        }
      },

      onGameClicked: function (event) {
        var win = window.open(event.target.id, '_blank');
        win.focus();
      }

    });

  </script>

</polymer-element>
