
<div id="about" class="well well-large">
	
	<h3> About </h3>
	<p>This is a web aplication for browsing boardgames on <a href="http://www.boardgamegeek.com/">boardgamegeek.com</a>. It is specialy made to make it easier to browse game from a mobile device. 
	</p>
    
	<h3> Functionality </h3>
   	<ul>
		<li ng-repeat="item in includes"> {{item}}</li>
    </ul>
    
    <h3>Issues or ideas</h3>
    <p>
    	If you find some issues with this site or have any ideas on how to improve it, please file a issue <a href="https://github.com/FilipStenbeck/mini-geek-polymer/issues" target="top">here.</a>
    </p>

    <h3>Contact information</h3>
    <p>Find me in the social media, easiest is on twitter where I will respond swiftly.</p>
    <p>
        <a href="http://boardgamegeek.com/user/efilips" target="top"><img src="images/Geek_Head.png" width="65px"></a>
        <a href="https://twitter.com/FilipStenbeck" target="top"><img src="images/twitter-bird-light-bgs.png" width="65px"></a>
        <a href="http://www.linkedin.com/profile/view?id=12116865&amp;trk" target="top"><img src="images/LinkedInButton.png" width="55px"></a> &nbsp; 
        <a href="https://github.com/FilipStenbeck/mini-geek-polymer" target="top"><img src="images/github-logo-transparent.png" width="65px"></a>
    </p>
</div>